* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

/* Mixin to manage responsive breakpoints */
.header {
  background: #000000;
  color: white;
  text-align: center;
}
.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}
.headerTitle {
  color: #A060F2;
}
.headerText {
  margin: 20px 0;
}
.header .button {
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 10px;
  color: #A060F2;
}

.podcastsContainer {
  width: 80%;
  margin: 0 auto;
  max-width: 1080px;
}
.podcastsCatalogue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.podcastsCatalogueItem {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px 50px;
}
.podcastsCatalogueItem img {
  width: 100%;
}