@use '../utilities/' as *;

.formWrapper {
    width: 40%;
    margin: 0 auto;
    max-width: 1080px;
}

.inputForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 90px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.8rem;

  // SLIDER STYLES
  input[type="range"] {
    width: 300px;
    background: transparent;
    margin-top: 20px;
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    margin-top: 20px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

 input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  // SLIDER THUMB //

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    margin-top: -1.5px;
    background: $black;
    cursor: pointer;
  }

  input[type="range"]::-moz-range-thumb {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: $black;
    cursor: pointer;
  }

  input[type="range"]::-ms-thumb {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: $black;
    cursor: pointer;
    margin: 0;
  }

  // SLIDER TRACK //

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: $purple;
  }

  input[type="range"]:active::-webkit-slider-runnable-track {
    background: $purple;
  }

  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: $purple;
  }

  input[type="range"]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }     
}

.genresBtn,
.submitBtn {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: $purple;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;

    &:hover {
    background-color:rgba(17, 17, 17, 0.88);
    color: white;
    transition: all 0.2s ease-in-out;
    }
}

.genreDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 400px;
    padding-top: 50px;
}

.radioBtns {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    

    input[type="radio"] {
        cursor: pointer;
        margin: 15px;
        border: 1px solid $purple;
    }

    label {
       margin-right: 20px;
    }

    input[type="radio"]:hover + label {
        color: $purple;
        outline: $purple;
    }
}