@use '../utilities/' as *;

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1080px;
}

.header {
  background: $black;
  color: white;
  text-align: center;
  
  &Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  &Title {
    color: $purple;
  }

  &Text {
    margin: 20px 0;
  }

  .button {
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 12px;
    color: $purple;
    margin-bottom: 50px;
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 2.5rem;
  }

  .button:hover {
    background-color: $purple;
    border: 1px solid $purple;
    color: white;
    transition: all 0.2s ease-in-out;
  }
}

header {
  background-color: $black;
  height: 100vh;

  img {
    max-width: 30vw;  
  }

  h1 {
    font-family: $font-primary;
    font-weight: 500;
    font-size: 4rem;
  }

  p {
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 2rem;
  }

  .logoWhite {
    width: 12%;
    vertical-align: middle;
  }
}