@use '../utilities/' as *;

.podcasts {
  &Container {
    margin: 0 auto;
    // width: 80%;
    max-width: 1080px;
  }

  &Catalogue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint("md") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
      justify-items: center;
      // gap: 1.875rem;
    }

    @include breakpoint("lg") {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-evenly;
      justify-items: center;
      // align-content: space-evenly;
      // align-items: center;
      // gap: 1.875rem;
    }

    &Item {
      width: 300px;
      max-height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      border-radius: 30px;
      padding: 40px 50px;
      text-align: center;
      box-shadow: 5px 7px 12px rgba(0, 0, 0, 0.4);

      img {
        width: 100px;
      }

      &Title {
        font-family: $font-primary;
        font-weight: 500;
        font-size: 2rem;
        margin-top: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 190px;
      }
    }
  }
}
